:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(0.25turn, #8C3590, #2C4982);
    font-family: 'Montserrat', sans-serif;
}

nav .container img {
    width: 40px;
    height: 40px;
}

nav .container span {
    color: var(--yellow);
}

.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav {
    list-style: none;
    display: inline-block;
}

#main-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

#main-nav ul li a {
    color: var(--light);
    padding: 0 0 10px 0;
    transition: 0.4s;
    border: 0;
}

#main-nav ul li:nth-last-child(1) {
    border: 1px solid var(--yellow);
    padding: 10px 17px;
    transition: .4s;
}

#main-nav ul li:nth-last-child(1):hover {
    background-color: var(--dark);
}

#main-nav ul li a:hover {
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

main section {
    width: 1170px;
    margin: 20px auto;
    height: 420px;
    position: relative;
}

main section .left_side {
    direction: ltr;
}

main section .left_side h2 {
    color: var(--light);
    font-size: 30px;
    line-height: 55px;
}

main section .left_side h4 {
    color: var(--light);
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
}

main section .right_side {
    direction: rtl;
    position: absolute;
    right: 165px;
    top: 185px;
}

main section .right_side img {
    width: 400px;
    height: 200px;
}

main section .left_side button {
    padding: 14px 27px;
    border: 5px solid #521f6c;
    border-radius: 20px;
    font-size: 15px;
    margin: 40px 50px -10px 40px;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
    color: var(--white);
    cursor: pointer;
    transition: 0.5s;
}

main section .left_side .btns {
    display: flex;
    justify-content: center;
    width: 600px;
    flex-wrap: wrap;
}

main section .left_side button:nth-child(1) {
    background-color: #8C3590;
}

main section .left_side button:nth-child(2) {
    background-color: #FBB44A;
}

main section .left_side .btns .blog_btn {
    background-color: #433e88;
}

main section .left_side button:hover,
main section .left_side .btns .blog_btn:hover {
    background-color: #FBB44A;
}

main .banner1 {
    width: 100%;
    height: 140px;
}

main .sec2 {
    width: 100%;
    height: 1300px !important;
    background-color: white;
    margin-top: -7px;
}

main .sec2 .middle_text {
    text-align: center;
    font-size: 21px;
    color: #7f2d92;
    line-height: 30px;
}

main .sec2 .div1 {
    position: relative;
    /* background-color: #28a745; */
    width: 100%;
    height: 800px;
}

main .sec2 .div1 .left_side img {
    height: 320px;
    width: 540px;
}

main .sec2 .div1 .left_side {
    width: 50%;
    /* background-color: #007bff; */
    position: absolute;
    left: 200px;
    top: 70px;
}

main .sec2 .div1 .right_side {
    /* background-color: #343a40; */
    width: 50%;
    position: absolute;
    right: 100px;
    top: 160px;
    text-align: center;
    font-size: 21px;
    color: #7f2d92;
}

main .sec2 .div1 .right_side button,
main .sec2 .btn button {
    background-color: white;
    color: #7f2d92;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--yellow);
    padding: 10px 17px;
    margin-top: 30px;
    transition: .4s;
    cursor: pointer;
}

main .sec2 .div1 .right_side button:hover,
main .sec2 .btn button:hover {
    color: #007bff;
}

main .sec2 .div2 {
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

main .sec2 .div2 .item {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    margin: 10px 50px;
}

main .sec2 .div2 .item h5 {
    text-align: center;
    font-weight: 100;
}

main .sec2 .div2 .item .title {
    margin: 7px 0;
    width: 300px;
    text-align: center;
    font-weight: 700;
}

main .btn {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.right_side a {
    background-color: #521f6c;
    color: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 6px 10px;
    transition: 0.4s;
}

.right_side a:hover {
    color: #007bff;
}

@media (max-width: 800px) {
    #main-nav ul li {
        display: block;
    }
    .navbar{
        flex-direction:column;
    }
    li{
        text-align:center
    }
    section .right_side{
        height:100px !important;
        margin: 0 auto;
    }
    main section .right_side {
    position: absolute;
    right: 25%;
    top: 400px;
    transform:translate(0,-50%)
}
    .banner1{
        height:60px !important;
    }
    .div0{
        margin-top:30px;
        
    }
    .div0 .middle_text{
        font-size:15px !important;
    }
    .div1{
        margin-top:80px;
    }
    .right_side{
        margin-top:330px !important;
        font-size:12px !important;
    }
    .right_side button{
        margin-top:10px !important;
        padding:7px !important;
        font-size:12px !important;
    }
}

@media (max-width: 1000px) {
    .navbar {
        width: 600px;
    }

    main section {
        margin: 20px auto;
        height: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }



    main section .right_side {
        height: 50%;
        width: 50%;
        display: flex;
        margin-top: 150px;
        justify-content: center;
        align-items: center
    }

    .navbar {
        width: 600px;
        margin: 0 auto;
    }

    #main-nav ul li {
        margin: 10px;
    }

    main {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    main section .left_side .btns {
        display: flex;
        justify-content: center;
        width: 200px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    main section .left_side button {
        padding: 7px 12px;
        border: 5px solid #521f6c;
        border-radius: 20px;
        font-size: 15px;
        margin: 10px;
        width: 200px;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.7);
        color: var(--white);
        cursor: pointer;
        transition: 0.5s;
    }

    main .sec2 {
        width: 100%;
        height: 1300px !important;
        background-color: white;
        margin-top: -7px;
        position: relative;
    }

    .div0 {
        position: absolute;
    }

    main .sec2 .middle_text {
        text-align: center;
        font-size: 21px;
        color: #7f2d92;
        line-height: 30px;
        margin: 0 auto;
        width: 50%;
    }


    main .sec2 .div1 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        /* background-color: #28a745; */
        width: 100%;
        height: 800px;
    }

    main .sec2 .div1 .left_side img {
        height: 100%;
        width: 100%;
    }

    main .sec2 .div1 .left_side {
        width: 50%;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 200px;

    }

    main .sec2 .div1 .right_side {
        /* background-color: #343a40; */
        width: 50%;
        position: absolute;
        right: 0;
        top: -50px;
        text-align: center;
        font-size: 15px;
        color: #7f2d92;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }






    main .sec2 .div2 {
        display: flex;
        justify-content: center;
        margin-top: 500px;
        flex-direction: column;
        position: absolute
    }

    main .sec2 .div2 .item {
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        flex-wrap: wrap;
        margin: 10px 50px;
    }

    main .sec2 .div2 .item h5 {
        text-align: center;
        font-weight: 100;
    }

    main .sec2 .div2 .item .title {
        margin: 7px 0;
        width: 300px;
        text-align: center;
        font-weight: 700;
    }

    main .btn {
        margin-top: 1180px;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }


}

/**********************************************/

img{
    width: 100%;
}
main{
    background: rgb(255, 255, 255);
}
section .title h2{
    font-size: 40px;
}
section div{
    margin: 30px;
}
section .phrase{
    text-align: center;
    font-weight: bold;
}
section .btn button{
    padding: 7px 20px;
    color: #000;
    background-color: #8638c2;
    border: 1px solid green;
    font-weight: 900;
    font-size: 19px;
    border-radius: 10px;
}
section{
    height: 2000px;
}
.main2{
    display: none;
}
.nav,.main{
    display: none;
}




.pop_up{
    height: 700px;
    width: 30%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 15px;
}

.pop_up .title h3{
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}
.pop_up textarea{
    min-height: 300px;
    min-width: 100%;
    max-height: 300px;
    max-width: 100%;
    padding: 12px;
    margin-top: 0px;
    border: 1px solid #dadada;
    outline: none;
    font-size: 16px;
    line-height: 30px;
    color: #000;
    background-color: #f3f3f3;
}
.pop_up .btn button{
    padding: 7px 20px;
    color: #000;
    background-color: #8638c2;
    border: 1px solid green;
    font-weight: 900;
    font-size: 19px;
    border-radius: 10px;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 50px;
    cursor: pointer;
}
.pop_up .txt1,.pop_up .txt2{
    margin-bottom: 20px;
    color: #505050;
}
.pop_up .txt2 span{
    color: #0b32f7;
    font-weight: 800;
}
.close{
    position: absolute;
    top:10px;
    right:15px;
}
.close i{
    cursor: pointer;
    font-size: 20px;
}

.pop_up{
    display: none;
}



@media (max-width: 800px) {
    /* .download_banner{
        background-color: rgb(126, 27, 27)!important;
    }
    .download_banner div div{
        width:20
        
        0px !important;
        margin: 0 0 0 10px;
        background-color: #17a2b8;
        max-height: 80px;
    }
    
    .download_banner .container{
        background-color: #007bff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    .download_banner_1{
        background-color: #cfcfcf;
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
    }
    .download_banner_1 .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .download_banner_1 .container a{
        background-color: orange;
        padding: 6px 12px;
        color: #000;
        font-weight: bold;
        font-family: inherit;
    }
    
    .pop_up{
        width: 90%;
        height: 760px;
    }
    .pop_up .btn button{
        margin-top: 30px!important;
        margin-bottom: 40px;
    }
    .pop_up .txt1,.pop_up .txt2{
        margin-bottom: 20px;
        color: #505050;
    }
    .main{
        display: block;
    }
    main,.navbar{
        display:none;
    }
    .main > img{
        height: 120px;
    }
    

.nav .container{
    width: 30%;
    margin-left: 50px;
}
.nav .btn{
    margin-right: 60px;
}
section .text  p{
    font-size: 16px;
    color: rgb(118, 118, 118);
}
/* .nav .container a img{
    height: 20px;
    width: 20px;
}
.nav .container a span{
    font-size: 15px;
} */

.nav .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.nav .btn img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nav{
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.main section .btn{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.main section{
    height: 700px;
}

#main-nav.navig{
    display: none;
}
section{
    background-color: white;
    padding: 10px;
}


}


.navig{
    height: 300px;
    width: 100%;
    background: linear-gradient(0.25turn, #8C3590, #2C4982);
    display: none;

}



@media (min-width:800px) {
    #main-nav{
        display: block;
    }
    .navig,#main-nav.navig{
        display: none;
    }
    .download_banner_1{
        background-color: #cfcfcf;
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .download_banner_1 .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
    }
    .download_banner_1 .container a{
        background-color: orange;
        padding: 6px 12px;
        color: #000;
        font-weight: bold;
        font-family: inherit;
    }
}

.download_banner{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}
.download_banner div{
    width:100px;
    margin: 0 0 0 10px;
}
.download_banner .right_side{
    display: flex;
    align-items: center;
}




@media (max-width: 800px) {
   
    .download_banner_1{
        background-color: #cfcfcf;
        height: 50px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
    }
    .download_banner_1 .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .download_banner_1 .container a{
        background-color: orange;
        padding: 6px 12px;
        color: #000;
        font-weight: bold;
        font-family: inherit;
    }

}